* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --white: #FFFFFF;
    --blu-strong: #093B4C;
    --blu: #2289B2;
    --green: #38D6A1;
    --yellow: #FCD166;
    --red: #F0466F;
  }
  body{
    background-color: var(--blu-strong);
    display: flex;
    justify-content: center
  }
  .container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding 15px;
    justify-content:  space-between;
  }
  .square{
    display: flex;
    justify-content: center;
    align-items: center;
     height: calc(100vh/10);
     width: calc(100vh/10);
    border: none;
    background-color: aquamarine;
    margin: 25px;
  }
  .blu{
    background-color: var(--blu);
  }
  .green {
    background-color: var(--green);
  }
  .yellow{
    background-color: var(--yellow);
  }
  .red{
    background-color: var(--red);
  }